{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "importOrder": [
    "^lib/(.*)$",
    "^components/(.*)$",
    "^styles/(.*)$",
    "^\\.\\./",
    "^.//(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
